.navbar {
    background-color: #FF5900;
    font-family: 'Xilosa', sans-serif;
    padding-top: 0;
    position: sticky;
}
a {
    font-family: 'Xilosa', sans-serif;
    font-size: 28px;
    color: #00336A;
}
.navbarItem {
    padding: 1.5%;
    background-color: #FF5900;
    border: transparent;
    font-family: 'Xilosa', sans-serif;
    font-size: 28px;
    text-decoration: none;
    color: whitesmoke;
}
.navbarItem:hover {
    background-color: #e85100; /* Green */
}
.offcanvas {
    background-color:#FF5900 ;
}

.offcanvas-title{
    font-family: 'Xilosa', sans-serif;
}

.navbar-toggler{
    color: transparent;
}
.container {
    padding-left: 0;
    margin-left: 8px;
}
.logo_hackacomp {
    height: 50px;
    margin: 16px;
}